@model Models.User

@{
    ViewBag.Title = "Регистрация";
    Layout = "_Layout";
}
<form asp-action="Registration" asp-controller="Account" asp-antiforgery="true">
    <div class="form-group">
            <label for="exampleInputEmail1">Имя</label>
            <input asp-for="Name" class="form-control" id="exampleInputEmail1" placeholder="Введите имя">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email </label>
        <input type="email" asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Пароль</label>
        <input type="password" asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
    </div>
    <button onclick="window.location.href='/Account/Profile'" type="submit" class="btn btn-primary">Зарегестрироваться</button>
</form>